In [1]:
mds_file = "../../output/POP_STRATIFICATION/MDS_PRUNE_SNPS/MDS_merge2.mds"
okgp_race = "../../output/POP_STRATIFICATION/MDS_ENCODE_RACES/racefile.txt"

In [2]:
import pandas as pd

mds_data = pd.read_csv(mds_file, sep='\s+')
race_data = pd.read_csv(okgp_race, sep='\s+')

In [10]:
merge_data = mds_data[["FID", "IID"]].merge(race_data, on="IID", how="right", suffixes=["_mds", "_race"])
merge_data = merge_data[merge_data["race"] != "OWN"]
merge_data

     FID_mds      IID FID_race race
0          0  HG00098  HG00098  EUR
1          0  HG00100  HG00100  EUR
2          0  HG00106  HG00106  EUR
3          0  HG00112  HG00112  EUR
4          0  HG00114  HG00114  EUR
..       ...      ...      ...  ...
673        0  NA20816  NA20816  EUR
674        0  NA20818  NA20818  EUR
675        0  NA20819  NA20819  EUR
676        0  NA20826  NA20826  EUR
677        0  NA20828  NA20828  EUR

[678 rows x 4 columns]

In [12]:
merge_data[merge_data["FID_mds"] != 0]

     FID_mds      IID FID_race race
109     1328  NA06984  NA06984  EUR
112    13291  NA06986  NA06986  EUR
114     1328  NA06989  NA06989  EUR
117     1340  NA07000  NA07000  EUR
119    13291  NA07037  NA07037  EUR
122    13292  NA07051  NA07051  EUR
124     1340  NA07056  NA07056  EUR
126     1345  NA07346  NA07346  EUR
129     1345  NA07357  NA07357  EUR
133     1350  NA11829  NA11829  EUR
136     1350  NA11831  NA11831  EUR
140     1349  NA11843  NA11843  EUR
142     1347  NA11881  NA11881  EUR
144     1377  NA11892  NA11892  EUR
146     1377  NA11893  NA11893  EUR
149     1423  NA11918  NA11918  EUR
151     1423  NA11919  NA11919  EUR
154     1424  NA11930  NA11930  EUR
159     1362  NA11992  NA11992  EUR
161     1362  NA11993  NA11993  EUR
163     1362  NA11994  NA11994  EUR
166     1420  NA12003  NA12003  EUR
170     1420  NA12006  NA12006  EUR
172     1346  NA12043  NA12043  EUR
174     1346  NA12044  NA12044  EUR
176     1346  NA12045  NA12045  EUR
181     1408  NA12154  NA12154  EUR
183     1408  NA12155  NA12155  EUR
186     1416  NA12249  NA12249  EUR
189     1418  NA12273  NA12273  EUR
191     1418  NA12275  NA12275  EUR
193     1421  NA12287  NA12287  EUR
195     1330  NA12340  NA12340  EUR
199    13281  NA12347  NA12347  EUR
202     1353  NA12383  NA12383  EUR
204     1354  NA12399  NA12399  EUR
207     1355  NA12413  NA12413  EUR
210     1353  NA12489  NA12489  EUR
213     1358  NA12716  NA12716  EUR
216     1358  NA12718  NA12718  EUR
220     1444  NA12751  NA12751  EUR
222     1447  NA12761  NA12761  EUR
224     1447  NA12762  NA12762  EUR
227     1451  NA12775  NA12775  EUR
231     1451  NA12778  NA12778  EUR
236     1454  NA12815  NA12815  EUR
238     1456  NA12828  NA12828  EUR
241     1459  NA12872  NA12872  EUR
246     1463  NA12890  NA12890  EUR

In [8]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 794 entries, 0 to 793
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   FID_mds   794 non-null    int64
 1   IID       794 non-null    object
 2   FID_race  794 non-null    object
 3   race      794 non-null    object
dtypes: int64(1), object(3)
memory usage: 24.9+ KB

In [ ]:
race_data

         FID      IID race
0    HG00098  HG00098  EUR
1    HG00100  HG00100  EUR
2    HG00106  HG00106  EUR
3    HG00112  HG00112  EUR
4    HG00114  HG00114  EUR
..       ...      ...  ...
691     1347  NA11881  OWN
692     1362  NA11994  OWN
693     1454  NA12815  OWN
694     1346  NA12043  OWN
695     1375  NA12264  OWN

[696 rows x 3 columns]

In [5]:
mds_data

,FID,IID,SOL,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10
0,1328,NA06989,0,-0.056340,0.055359,-0.009152,0.012294,-0.007410,0.044701,-0.017580,0.070947,-0.062835,0.058527
1,1349,NA11843,0,-0.056962,0.057550,0.000358,0.011260,-0.008624,0.005748,-0.019565,-0.056163,0.033207,0.018683
2,1328,NA06984,0,-0.055934,0.055646,-0.004287,0.004664,-0.020936,0.030175,-0.000266,-0.033310,0.010385,0.027132
3,1418,NA12275,0,-0.056732,0.056015,-0.005069,0.005204,-0.017891,0.007591,-0.006695,0.025708,0.015240,-0.015096
4,13291,NA06986,0,-0.055402,0.056912,-0.007708,0.017906,-0.023877,0.022685,-0.002162,-0.025955,-0.013365,-0.037537
...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,0,NA20816,0,-0.053084,0.053745,0.027671,-0.002945,0.001106,-0.004138,0.006359,0.002696,-0.000109,0.002567
692,0,NA20818,0,-0.052911,0.053999,0.023201,-0.004509,0.004081,-0.001179,0.001789,-0.002098,-0.006064,-0.005638
693,0,NA20819,0,-0.051582,0.051825,0.020832,-0.002846,0.007470,-0.012239,0.002142,0.002579,0.001315,-0.002462
694,0,NA20826,0,-0.052248,0.055530,0.026555,-0.004657,0.004668,-0.005414,0.004339,-0.001806,-0.000513,0.003484
695,0,NA20828,0,-0.049118,0.055744,0.026352,-0.007277,0.004502,-0.003334,0.003637,-0.000155,-0.000740,0.004441

Script to parepare racefile

In [44]:
import pandas as pd 

panel_file = "../../assets/20100804.ALL.panel"
mds_file = "../../output/POP_STRATIFICATION/MDS_PRUNE_SNPS/MDS_merge2.mds"
hapmap_file = "../../output/POP_STRATIFICATION/HAMONIZE_HAPMAP_VARIANT/HapMap_MDS.fam"

## Read data
race_dict = {
    "JPT": "ASN",
    "ASW": "AFR",
    "CEU": "EUR",
    "CHB": "ASN",
    "CHD": "ASN",
    "YRI": "AFR",
    "LWK": "AFR",
    "TSI": "EUR",
    "MXL": "AMR",
    "GBR": "EUR",
    "FIN": "EUR",
    "CHS": "ASN",
    "PUR": "AMR"
}

okgp_collect = {"IID": [], "race": []}
with open(panel_file, "r") as f:
    for line in f:
        okgp_collect["IID"].append(line.split("\t")[0])
        okgp_collect["race"].append(race_dict[line.split("\t")[1]])
okgp_data = pd.DataFrame(okgp_collect)

mds_data = pd.read_csv(mds_file, sep='\s+')
hapmap_data = pd.read_csv(hapmap_file, sep='\s+', header=None).loc[:,[0,1]].rename(columns={0:"FID", 1:"IID"})

## Get FID of smaples in the panel from mds file 
fill_fid_data = okgp_data.merge(mds_data[["IID", "FID"]], how="left", on="IID")

## Concatenate with OWN data
hapmap_data["race"] = "OWN"
concat_data = pd.concat([fill_fid_data, hapmap_data], axis="index").loc[:,["FID", "IID", "race"]]

## Exporting
concat_data.to_csv("racefile.txt", sep=" ", index=False)