In [4]:
import pandas as pd

call_samples = pd.read_csv("plink.imiss", sep="\s+")
related_sample = pd.read_csv("pihat_min0.2.genome", sep="\s+")

In [5]:
related_sample

,FID1,IID1,FID2,IID2,RT,EZ,Z0,Z1,Z2,PI_HAT,PHE,DST,PPC,RATIO
0,1377,NA11891,1377,NA10865,PO,0.5,0.0013,0.9976,0.0010,0.4998,0,0.823890,1.0,3614.0000
1,1349,NA11843,1349,NA10853,PO,0.5,0.0021,0.9906,0.0073,0.5026,-1,0.824903,1.0,926.5000
2,1330,NA12341,1330,NA12335,PO,0.5,0.0000,1.0000,0.0000,0.5000,0,0.822882,1.0,924.7500
3,1444,NA12739,1444,NA12749,PO,0.5,0.0018,0.9943,0.0040,0.5011,-1,0.824364,1.0,NaN
4,1444,NA12739,1444,NA12748,PO,0.5,0.0015,0.9950,0.0035,0.5010,0,0.824316,1.0,1227.6667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,1459,NA12864,1459,NA12872,PO,0.5,0.0000,1.0000,0.0000,0.5000,0,0.822393,1.0,1851.5000
93,1459,NA12864,1459,NA12873,PO,0.5,0.0000,1.0000,0.0000,0.5000,-1,0.822699,1.0,916.7500
94,1444,NA12751,1444,NA12740,PO,0.5,0.0017,0.9939,0.0043,0.5013,0,0.824431,1.0,1839.0000
95,1362,NA10861,1362,NA11994,PO,0.5,0.0009,0.9942,0.0048,0.5020,0,0.824601,1.0,1859.5000
96,1454,NA12801,1454,NA12812,PO,0.5,0.0016,0.9939,0.0045,0.5015,0,0.824475,1.0,1224.3333

In [6]:
call_samples

      FID      IID MISS_PHENO  N_MISS   N_GENO    F_MISS
0    1328  NA06989          N    2181  1073226  0.002032
1    1377  NA11891          N   13586  1073226  0.012660
2    1349  NA11843          N     813  1073226  0.000758
3    1330  NA12341          N    3697  1073226  0.003445
4    1328  NA06984          N    6478  1073226  0.006036
..    ...      ...        ...     ...      ...       ...
105  1362  NA11994          N     509  1073226  0.000474
106  1459  NA12873          N    3978  1073226  0.003707
107  1454  NA12815          N     436  1073226  0.000406
108  1346  NA12043          N    3041  1073226  0.002834
109  1375  NA12264          N     584  1073226  0.000544

[110 rows x 6 columns]

In [28]:
import networkx as nx

G = nx.from_pandas_edgelist(related_sample, 'IID1', 'IID2')

families = list(nx.connected_components(G))
F_dict = dict(call_samples[["IID", "F_MISS"]].values)

sample_max_score = []
for fam in families:
    samples = list(fam)
    try:
        scores = list(map(lambda sample: F_dict[sample], samples))
        pick_sample = samples[scores.index(max(scores))]
        sample_max_score.append(pick_sample) 
    except KeyError:
        continue

In [20]:
families

[{'NA10865', 'NA11891', 'NA11892'},
 {'NA10853', 'NA11843'},
 {'NA12335', 'NA12340', 'NA12341'},
 {'NA12739', 'NA12748', 'NA12749'},
 {'NA12877', 'NA12889', 'NA12890'},
 {'NA10836', 'NA12275'},
 {'NA06986', 'NA06997', 'NA07045', 'NA12801', 'NA12812', 'NA12813'},
 {'NA10837', 'NA12272', 'NA12273'},
 {'NA10845', 'NA11930', 'NA11931'},
 {'NA10852', 'NA12045'},
 {'NA07014', 'NA07031', 'NA07051'},
 {'NA12386', 'NA12399', 'NA12400'},
 {'NA12344', 'NA12347', 'NA12348'},
 {'NA12767', 'NA12777', 'NA12778'},
 {'NA10840', 'NA12286', 'NA12287'},
 {'NA12375', 'NA12383'},
 {'NA12708', 'NA12718'},
 {'NA12376', 'NA12489', 'NA12546'},
 {'NA12832', 'NA12842', 'NA12843'},
 {'NA12766', 'NA12775', 'NA12776'},
 {'NA12817', 'NA12827', 'NA12828'},
 {'NA10843', 'NA11919', 'NA11920'},
 {'NA06995', 'NA07037', 'NA07435'},
 {'NA12336', 'NA12343'},
 {'NA07346', 'NA07347', 'NA07349'},
 {'NA12818', 'NA12829', 'NA12830'},
 {'NA10864', 'NA11893', 'NA11894'},
 {'NA12740', 'NA12750', 'NA12751'},
 {'NA10855', 'NA11831', 'NA11832'},
 {'NA10847', 'NA12146', 'NA12239'},
 {'NA10859', 'NA11881', 'NA11882'},
 {'NA12707', 'NA12716'},
 {'NA10830', 'NA12154'},
 {'NA12753', 'NA12762', 'NA12763'},
 {'NA10854', 'NA11839', 'NA11840'},
 {'NA12865', 'NA12875'},
 {'NA07345', 'NA07348', 'NA07357'},
 {'NA10831', 'NA12155', 'NA12156'},
 {'NA10856', 'NA11829', 'NA11830'},
 {'NA12878', 'NA12891', 'NA12892'},
 {'NA12752', 'NA12760', 'NA12761'},
 {'NA06985', 'NA06991', 'NA06993'},
 {'NA10838', 'NA12003'},
 {'NA10835', 'NA12248', 'NA12249'},
 {'NA10839', 'NA12005', 'NA12006'},
 {'NA10863', 'NA12234', 'NA12264'},
 {'NA10846', 'NA12144', 'NA12145'},
 {'NA12802', 'NA12814', 'NA12815'},
 {'NA06994', 'NA07000', 'NA07029'},
 {'NA10861', 'NA11994', 'NA11995'},
 {'NA12864', 'NA12872', 'NA12873'}]

In [19]:
F_dict

{'NA06989': 0.002032,
 'NA11891': 0.01266,
 'NA11843': 0.0007575,
 'NA12341': 0.003445,
 'NA06984': 0.006036,
 'NA12275': 0.002532,
 'NA06986': 0.0008181,
 'NA12272': 0.0009485,
 'NA07051': 0.001153,
 'NA12400': 0.001202,
 'NA12777': 0.0009886,
 'NA12287': 0.001815,
 'NA12383': 0.002045,
 'NA12340': 0.00125,
 'NA12273': 0.0006774,
 'NA11892': 0.0007147,
 'NA12546': 0.00116,
 'NA12843': 0.01576,
 'NA12348': 0.0016,
 'NA11917': 0.002905,
 'NA12718': 0.0005619,
 'NA12282': 0.004635,
 'NA11920': 0.00135,
 'NA12776': 0.0005572,
 'NA12283': 0.001402,
 'NA07435': 0.001623,
 'NA12828': 0.0007286,
 'NA07045': 0.002378,
 'NA07031': 0.002429,
 'NA12827': 0.002348,
 'NA12343': 0.001638,
 'NA12778': 0.0008442,
 'NA11930': 0.000574,
 'NA12890': 0.0007081,
 'NA07037': 0.001578,
 'NA07347': 0.003588,
 'NA12829': 0.001709,
 'NA12749': 0.001882,
 'NA11894': 0.004276,
 'NA12286': 0.001887,
 'NA11918': 0.0008023,
 'NA12830': 0.002805,
 'NA11893': 0.001058,
 'NA11919': 0.0009485,
 'NA12489': 0.0005227,
 'NA12399': 0.0006383,
 'NA12413': 0.002708,
 'NA12842': 0.002415,
 'NA12347': 0.001507,
 'NA07346': 0.001722,
 'NA12775': 0.0005078,
 'NA12889': 0.002465,
 'NA12748': 0.001291,
 'NA11931': 0.002227,
 'NA12045': 0.001891,
 'NA12750': 0.0003522,
 'NA11831': 0.000328,
 'NA12146': 0.00173,
 'NA11882': 0.001072,
 'NA07056': 0.0008535,
 'NA12154': 0.001289,
 'NA11839': 0.000451,
 'NA12875': 0.005148,
 'NA12156': 0.004421,
 'NA12044': 0.001147,
 'NA11992': 0.000628,
 'NA11829': 0.0003112,
 'NA12239': 0.0004696,
 'NA12762': 0.0004063,
 'NA12716': 0.0003662,
 'NA12760': 0.00154,
 'NA06985': 0.006917,
 'NA12003': 0.004554,
 'NA07022': 0.003965,
 'NA12813': 0.001814,
 'NA07055': 0.0005078,
 'NA12056': 0.0007901,
 'NA12145': 0.0006373,
 'NA12814': 0.000846,
 'NA12006': 0.0004044,
 'NA12763': 0.001108,
 'NA07357': 0.0007892,
 'NA12144': 0.001212,
 'NA07000': 0.0004454,
 'NA11832': 0.005399,
 'NA11840': 0.0117,
 'NA12761': 0.0004277,
 'NA06994': 0.007601,
 'NA11993': 0.0003671,
 'NA11995': 0.0006094,
 'NA12891': 0.0008349,
 'NA12751': 0.0003308,
 'NA12005': 0.00151,
 'NA12234': 0.0006084,
 'NA07345': 0.006524,
 'NA12892': 0.0008665,
 'NA12248': 0.0005637,
 'NA12872': 0.0004799,
 'NA12155': 0.0004668,
 'NA06993': 0.0005209,
 'NA11830': 0.001066,
 'NA12249': 0.0004268,
 'NA12057': 0.002041,
 'NA12812': 0.001296,
 'NA11881': 0.0004594,
 'NA11994': 0.0004743,
 'NA12873': 0.003707,
 'NA12815': 0.0004063,
 'NA12043': 0.002834,
 'NA12264': 0.0005442}

In [29]:
sample_max_score

[]